body {
    font-family: Arial;
    background: #e9f2ff;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #90bfff;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #007bff;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #005fcc;
}

.nav {
    background: #007bff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #007bff;
}

th {
    background: #007bff;
    color: white;
}