bbody {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}

button {
    background: #0084ff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

table, th, td {
    border: 1px solid #999;
}

th, td {
    padding: 10px;
    text-align: center;
}